* {
    margin: 0;
    padding: 0;
}

#video-bg {
    width: 100%;

}
body {
    text-align: center;
}

#board {
    top : 100px;
    position: fixed;
    left: 32%;
    background-color: rgb(120, 40, 40);
    opacity: 0.7;
    border: 10px 0 10x 0 solid black;
}

#start {
    position:fixed;
    left: 45%;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border-style: none;
    z-index: 1;
    font-size: 25px;
    color:white;
}

.pressed {
    box-shadow: 0 3px 4px 0 #b7474c;
  opacity: 0.5;
}